@font-face {
    font-family: 'SevenOneEight-Light';
    src: url("fonts/SevenOneEight-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'SevenOneEight-Medium';
    src: url("fonts/SevenOneEight-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'SevenOneEight-ExtraBold';
    src: url("fonts/SevenOneEight-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: 'SevenOneEight-Book';
    src: url("fonts/SevenOneEight-Book.ttf") format("truetype");
}

$font-main: 'SevenOneEight-Medium';
$bg-color:#efefef;
$head-color: #d92e22;
$color1: #4c4c4c;
$color2: #ed3323;
$color3:#FFF;


body {
    font-family: $font-main;
    background: $bg-color;
    text-align: center;
}

.slider {
    padding: 0;

    .carousel-item img.d-block {
        width: 100%;
    }
}

header {
    text-transform: uppercase;

    h1 {
        color: #d92e22;
        font-family: "SevenOneEight-ExtraBold";
        padding: 15px 0 0;
        font-size: 34px;
        margin: 0;
    }

    h2 {
        color: $color1;
        position: relative;
        font-size: 29px;

        &:before {
            content: "";
            width: 159px;
            height: 5px;
            position: absolute;
            bottom: -20px;
            left: 0;
            right: 0;
            margin: auto;
            background: $color1;
        }
    }
}



.filters {
    overflow: hidden;
    max-width: 267px;
    width: 100%;
    margin: 0 auto;
    background: #FFF;
    text-transform: uppercase;
    font-size: 21px;
    color: #4c4b4b;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    padding: 12px 0 8px;
    height: 46px;

    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/filter-ic.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 27px;
        left: 16px;
        top: 12px;
    }

    &::after {
        content: "";
        position: absolute;
        background-image: url(../images/tick-red.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 27px;
        right: 11px;
        top: 18px;
        z-index: -1;
    }

    span.filter {
        /* display: none;*/

        &:hover {
            cursor: pointer;
        }
    }

    .filter-ctn {
        position: relative;
    }

    .line {
        position: relative;
        display: flex;
        flex-direction: column;
    }
}

section#app {
    padding: 62px 0 0;
}

.destinations {
    position: relative;
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: 109px auto 0;

    .destination {
        // max-width: calc(100%/3 - 30px);
        max-width: 369px;
        margin-right: 20px;
        margin-bottom: 29px;
        width: 100%;
        display: inline-block;
        border-radius: 7px;
        overflow: hidden;

        &:nth-child(3n) {
            margin-right: 0px;
        }

        .description {
            background: $color3;
            text-align: left;
            padding: 8px 12px 8px;
            position: relative;

            .titre {
                font-weight: bold;
                color: #000;
                line-height: 19px;

                span {
                    font-family: 'SevenOneEight-Light';
                    font-weight: normal;
                    position: relative;
                    padding-left: 19px;
                    color: #464646;

                    &::before {
                        content: "";
                        width: 13px;
                        height: 1.6px;
                        position: absolute;
                        bottom: 0;
                        top: 0;
                        left: 2px;
                        margin: auto;
                        background: #000000
                    }
                }
            }

            .hotel {
                font-family: "SevenOneEight-Book";
                font-size: 14px;
                color: #565656;
                display: flex;
                align-items: center;

                .stars {
                    max-width: 64px;
                    width: 100%;
                    margin-left: 6px;
                }

                .etoile {
                    background-image: url(../images/star.png);
                    background-size: contain;
                    height: 12px;
                    display: block;
                }
            }

            .tags {
                display: flex;
                align-items: center;
                text-transform: uppercase;
                font-size: 10px;
                padding-top: 4px;

                span.t1 {
                    background: #000;
                    color: $color3;
                    font-family: "SevenOneEight-Book";
                    padding: 2px 4px 0px;
                }

                span.t2 {
                    background: #bd9c6a;
                    color: $color3;
                    margin-left: 11px;
                    padding: 2px 4px 0px;
                }
            }

            button.detail {
                border: none;
                background: #e23022;
                color: $color3;
                width: 35px;
                height: 35px;
                position: absolute;
                right: 17px;
                bottom: 21px;
                font-size: 27px;

                &:focus {
                    outline: 0;
                }
            }

        }
    }

    .img-des {
        position: relative;

        &:hover .prix {
            position: absolute;
            bottom: 12px;
            right: 25px;
        }

        &::before,
        .carousel.slide::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            background: linear-gradient(transparent 75%, #0000008c);
            z-index: 9;
        }


    }

    .prix {
        position: absolute;
        bottom: 5px;
        right: 14px;
        color: $color3;
        text-transform: uppercase;
        font-size: 13px;
        font-family: 'SevenOneEight-ExtraBold';
        z-index: 99;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    .carousel-control-next,
    .carousel-control-prev {
        z-index: 999;
    }

    &::after {
        content: "";
        position: absolute;
        background-image: url(../images/tick.png);
        background-size: contain;
        height: 65px;
        width: 27px;
        display: block;
        bottom: -29px;
        left: -18px;
        right: 0;
        margin: 0 auto;
        z-index: -1;
        background-repeat: no-repeat;
    }
}

section.corps {
    padding: 47px 0 144px;

    .c-header {
        text-transform: uppercase;
        font-size: 17px;
        color: $color1;
        position: relative;

        span {
            display: block;
            font-weight: bold;
        }

        &::before {
            content: "";
            width: 75px;
            height: 3px;
            position: absolute;
            bottom: -7px;
            left: 0;
            right: 0;
            margin: auto;
            background: $color1;
        }
    }

    .member {
        span {
            display: block;
            font-weight: bold;
            font-size: 18px;
        }

        span.space {
            display: inline-block;
        }

        font-family: "SevenOneEight-Book";
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        background: #ed3323;
        color: $color3;
        padding: 22px 0;
        margin-top: 50px;
        border-radius: 5px;
    }

    .join {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1022px;
        width: 100%;
        margin: 46px auto 0;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 70px;

        .num {
            font-family: 'SevenOneEight-ExtraBold';
            font-size: 75px;
            line-height: 60px;
            padding-top: 12px;
            float: left;
            color: $color2;
            padding-right: 10px;
        }

        .desc {
            line-height: 20px;
        }

        .number {
            max-width: 300px;
            width: 100%;
            text-align: left;
            font-family: "SevenOneEight-Book";
            display: flex;
            align-items: center;
            font-size: 14px;
        }

        span {
            display: block;
            color: #d92e22;
            font-family: 'SevenOneEight-ExtraBold';
        }

        button.inscris {
            font-family: 'SevenOneEight-Light';
            border: none;
            background: $color2;
            color: $color3;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 237px;
            text-transform: uppercase;
            font-size: 14px;
            height: 32px;
            padding-top: 4px;
        }
    }

}

footer {
    position: fixed;
    font-family: "SevenOneEight-Light";
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    background: #333333;
    color: $color3;
    padding: 25px 0 25px;
    bottom: 0;
    z-index: 999;
    left: 0;
    right: 0;
    line-height: 23px;

    span {
        display: block;
    }

    &::after {
        content: "";
        width: 243px;
        height: 3px;
        position: absolute;
        bottom: 16px;
        left: 0;
        right: 0;
        margin: auto;
        background: $color2;
    }
}


a {
    color: $color3;
    text-decoration: underline;

    &:hover {
        color: #000000;
    }
}

.project {
    transition: all .35s ease-in-out;
    box-shadow: 0px 2px 8px lightgrey;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    opacity: 0.09;
    background:
        linear-gradient(to bottom, rgba(0, 210, 247, 0.65) 0%, rgba(0, 210, 247, 0.64) 1%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top, rgba(247, 0, 156, 0.65) 0%, rgba(247, 0, 156, 0.64) 1%, rgba(0, 0, 0, 0) 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


/*Style Responsive */

@media (max-width: 1180px) {
    .destinations .destination:nth-child(3n) {
        margin-right: 20px;
    }
}

@media (max-width: 992px) {
    header {
        h1 {
            font-size: 28px;
        }

        h2 {
            font-size: 22px;
        }
    }

    section.corps .join .number:first-child {
        max-width: 206px;
    }

    section.corps .join .number:nth-child(3) {
        max-width: 246px;
    }
}

@media (max-width: 748px) {
    header {
        h1 {
            font-size: 23px;
        }

        h2 {
            font-size: 19px;
        }
    }

    .destinations {
        margin: 86px auto 0;
    }

    .filters {
        overflow: hidden;
        max-width: 228px;
        padding: 0;
        height: 39px;
        font-size: 17px;
        background: transparent;
        border: solid 1.5px #333333;

        &::before {
            width: 23px;
            height: 20px;
            left: 11px;
            top: 10px;
            z-index: 9;
        }

        &::after {
            width: 23px;
            height: 20px;
            right: 8px;
            top: 12px;
            z-index: 9;
        }

        .line::before {
            content: "";
            width: 1.5px;
            height: 38px;
            position: absolute;
            top: 0px;
            right: 40px;
            margin: auto;
            background: #4c4c4c;
        }

        span.filter {
            background: #FFF;
            padding: 8px 0 0;
        }

        .filter-ctn {
            position: relative;
            padding: 8px 0 5px;
            border-bottom: solid 1.5px #333333;
        }
    }

    section#app {
        padding: 52px 0 0;
    }

    section.corps {
        .member span.space {
            display: block;
        }

        .join {
            flex-direction: column;
            justify-content: flex-start;
            margin: 35px auto 0;
            padding-bottom: 50px;

            .number {
                margin-bottom: 28px;
            }

            .number:first-child {
                max-width: 300px;
            }

            .number:nth-child(3) {
                max-width: 300px;
                margin-bottom: 0;

                .num::before {
                    display: none;
                }
            }

            .num {
                position: relative;

                &::before {
                    content: "";
                    width: 1.6px;
                    height: 34px;
                    position: absolute;
                    bottom: -29px;
                    right: 9px;
                    left: 0;
                    margin: auto;
                    background: #4c4c4c;
                }
            }

            button.inscris {
                width: 179px;
            }
        }

        .member {
            padding: 16px 7px;
            margin-top: 40px;
            font-size: 15px;

            span {
                font-size: 15px;
            }
        }
    }

    footer::after {
        width: 93px;
    }
}

@media (max-width: 403px) {
    .filters span.filter {
        margin: -1px 0 0px;
    }
}