<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Découvrez les offres du moment</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles  -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Hover styles  -->
    <link href="css/hover.css" rel="stylesheet">

    <!-- font-awesome styles  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- VueJS -->
    <script src="vendor/vue/vue.js"></script>

</head>

<body>
    <div class="container-fluid">

        <!-- Block header  -->
        <header>
            <h1> Découvrez les offres du moment </h1>
            <h2> Vol + hôtel jusqu'à - 70%</h2>
        </header>

        <!-- Block destinations  -->
        <section id="app">
            <div class="filters">
                <div class="line">
                    <div class="filter-ctn">
                        destinations
                    </div>
                    <span class="filter hvr-wobble-horizontal" v-bind:class="{ active: currentFilter === 'ALL' }"
                        v-on:click="setFilter('ALL')">tout</span>
                    <span class="filter hvr-wobble-horizontal"
                        v-bind:class="{ active: currentFilter === 'Emirates Arabes Unis' }"
                        v-on:click="setFilter('Emirates Arabes Unis')">EAU</span>
                    <span class="filter hvr-wobble-horizontal" v-bind:class="{ active: currentFilter === 'Maurice' }"
                        v-on:click="setFilter('Maurice')">Maurice</span>
                    <span class="filter hvr-wobble-horizontal" v-bind:class="{ active: currentFilter === 'Indonésie' }"
                        v-on:click="setFilter('Indonésie')">Indonésie</span>
                    <span class="filter hvr-wobble-horizontal" v-bind:class="{ active: currentFilter === 'Maldives' }"
                        v-on:click="setFilter('Maldives')">Maldives</span>
                    <span class="filter hvr-wobble-horizontal" v-bind:class="{ active: currentFilter === 'Thaïlande' }"
                        v-on:click="setFilter('Thaïlande')">Thaïlande</span>
                    <span class="filter hvr-wobble-horizontal" v-bind:class="{ active: currentFilter === 'Sri Lanka' }"
                        v-on:click="setFilter('Sri Lanka')">Sri Lanka</span>
                    <span class="filter hvr-wobble-horizontal" v-bind:class="{ active: currentFilter === 'Japon' }"
                        v-on:click="setFilter('Japon')">Japon</span>
                    <span class="filter hvr-wobble-horizontal" v-bind:class="{ active: currentFilter === 'Vietnam' }"
                        v-on:click="setFilter('Vietnam')">Vietnam</span>
                </div>
            </div>
            <transition-group class="destinations" name="destinations">
                <div class="destination hvr-float"
                    v-if="currentFilter === destination.country || currentFilter === 'ALL'"
                    v-bind:key="destination.title" v-for="destination in destinations">

                    <div v-if="!destination.slider" class="img-des hvr-grow">
                        <img class="destination-image" v-bind:src="`./images/destinations/${destination.image}.png`">
                        <div class="prix">
                            {{ destination.upto }}
                        </div>
                    </div>
                    <div v-if="destination.slider" :id="`${destination.title}`" class="carousel slide img-des hvr-grow"
                        data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div :class="`carousel-item ${destination.image[index-1].active}`" v-for="index in 3"
                                :key="index">
                                <img class="d-block img-fluid"
                                    :src="`./images/destinations/${destination.image[index-1].image}.png`">
                            </div>
                            <a class="carousel-control-prev" :href="`#${destination.title}`" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" :href="`#${destination.title}`" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="prix">
                            {{ destination.upto }}
                        </div>
                    </div>
                    <div class="description">
                        <div class="titre">
                            {{ destination.country }} <span> {{ destination.place }} </span>
                        </div>
                        <div class="hotel"> {{ destination.label }}
                            <div class="stars">
                                <span :style={width:destination.rating/5*100+'%'} class="etoile">
                                </span>
                            </div>
                        </div>
                        <div class="tags">
                            <span class="t1"> {{ destination.tags.classname}}</span>
                            <span class="t2"> {{ destination.tags.label }} </span>
                        </div>
                        <button class="detail hvr-forward"><i class="fa fa-angle-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </transition-group>
        </section>

        <!-- Block center  -->
        <section class="corps">
            <div class="c-header"> comment bénéficier de l'offre ? <span> 150€ de réduction* dés 1000€ d'achat </span>
            </div>
            <div class="member hvr-bounce-in">
                <span> Déja membre? </span>
                <span class="space"> Votre code promo vous attend </span> directement sur le site en
                <a href="#">cliquant ici </a>
            </div>
            <div class="join">
                <div class="number">
                    <div class="num hvr-buzz-out">
                        1
                    </div>
                    <div class="desc">
                        rejoignez
                        <span> emirates | the list </span>
                    </div>
                </div>
                <div class="number">
                    <div class="num hvr-buzz-out">
                        2
                    </div>
                    <div class="desc">
                        recevrez par email
                        <span> votre bon de 150€ offert </span>
                        à utiliser dés 1000€ d'achat
                    </div>
                </div>
                <div class="number">
                    <div class="num hvr-buzz-out">
                        3
                    </div>
                    <div class="desc">
                        réservez votre séjour
                        <span> avant le 30 avril 2019 </span>
                    </div>

                </div>
                <button class="inscris hvr-bounce-to-right"> je m'inscris </button>
            </div>
        </section>

        <!-- Block footer  -->
        <footer>
            rejoignez <strong> emirates | the list </strong>
            <span> Vol + hôtel négociée jusqu'à - 70% </span>
        </footer>
    </div>
</body>

<!-- Bootstrap core JavaScript and main JS -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="app.js"></script>

</html>